@model Zeus_MVC.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> @ViewBag.Title </title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:200,400,600|Open+Sans:300,400,700">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <style>
        #home {
            position: fixed;
            right: 20px;
            bottom: 20px;
        }

        .center {
            margin: auto;
            width: 30%;
        }
    </style>
</head>

<body class="page-signin">

    <div class="container" style="padding-top: 8%">
        <div class="panel panel-default">
            <div class="panel-body">

                <!-- sign up-->
                <div class="col-md-12">

                    <h3 class="text-center">Registration</h3>
                    <p class="text-center">
                        <br>
                        Please fill in the form below and we will get back to you shortly.
                        <br>
                    </p>

                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.ClientName, new { @class = "form-control", @placeholder = "Name *" })
                                    <p class="help-block text-danger">
                                        @Html.ValidationMessageFor(m => m.ClientName)
                                    </p>
                                </div>

                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email *" })
                                    <p class="help-block text-danger">
                                        @Html.ValidationMessageFor(m => m.Email)
                                    </p>
                                </div>

                                <div class="form-group">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password *" })
                                    <p class="help-block text-danger">
                                        @Html.ValidationMessageFor(m => m.Password)
                                    </p>
                                </div>

                                <div class="form-group">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm password *" })
                                    <p class="help-block text-danger">
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                    </p>
                                </div>
                            </div>

                            <div class="col-md-6">

                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.CompanyORHospital, new { @class = "form-control", @placeholder = "Company / Hospital *" })
                                    <p class="help-block text-danger">
                                        @Html.ValidationMessageFor(m => m.CompanyORHospital)
                                    </p>
                                </div>

                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @placeholder = "Phone *" })
                                    <p class="help-block text-danger">
                                        @Html.ValidationMessageFor(m => m.PhoneNumber)
                                    </p>
                                </div>

                                <div class="form-group">
                                    @Html.TextAreaFor(m => m.Address, new { @class = "form-control", @rows = "4", @placeholder = "Address *" })
                                    <p class="help-block text-danger">
                                        @Html.ValidationMessageFor(m => m.Address)
                                    </p>
                                </div>
                            </div>
                        </div>




                        <div class="clearfix"></div>

                        <div class="form-group text-center" style="padding-top: 3%; padding-bottom: 3%;">
                            <button class="btn btn-primary" type="submit"> Register </button>
                        </div>
                    }

                    @*<div id="Message">
            <?php
            if (isset($_GET['error'])==true) {
            echo '<div class="center">
                <div class="text-center">
                    <div class="alert alert-danger" ">
                        <strong> Email address already exist.</strong>
                    </div>
                </div>
            </div>';
            }

            if (isset($_GET['success'])==true) {
            echo '<div class="center">
                <div class="text-center">
                    <div class="alert alert-success" ">
                        <strong> Successfully Added.</strong>
                    </div>
                </div>
            </div>';
            }

            ?>
        </div>*@

                </div>


                <!-- the switcher between forms-->
                <ul class="toggler text-center small list-unstyled">
                    <li>Changed your mind? <a class="text-blue" href="~/Account/Login">Back to Log in form</a></li>
                    <li><a class="text-blue" href="~/Account/Login">Forgot password?</a></li>
                </ul>

                <a href="~/Home/Index" id="home"><i class="fa fa-home fa-4x"></i></a>

            </div>
        </div>
        <!-- /panel -->
    </div>

    @Scripts.Render("~/bundles/JavaScript")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

</body>
</html>



























@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}
