@using Zeus_MVC.Areas.Admin.Models
@using Microsoft.AspNet.Identity

<!-- jQuery for Bootstrap -->
<script src="~/Scripts/jquery.js"></script>

<!-- Bootstrap JavaScript -->
<script src="~/Scripts/bootstrap.min.js"></script>

<script>
    $("ul").click(function () {
        $(this).find("li").css("display", "block");
        return false;
    });

    $(function () {
        var pgurl = window.location.href.substr(window.location.href
            .lastIndexOf("/") + 1);
        $("#nav ul li a").each(function () {
            if ($(this).attr("href") == pgurl || $(this).attr("href") == '')
                $(this).addClass("active");
        })
    });
</script>



<!-- Custom Header Font -->
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" style="color:#fed136;" href="~/Admin/Home/Index"> Zeus Admin</a>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav" style="padding-right: 5%;">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user"></i> @User.Identity.GetUserName() <b class="caret"></b>
                @{
                    var count = AppCount.GetUnpaidOrderCount() + AppCount.GetProductsReOrderCount() + AppCount.GetUnReadMessageCount();

                    if (count > 0)
                    {
                        <small class="badge pull-right" style="background-color: #fc3; color: #000; margin-left: 8px;">@count</small>
                    }
                }
            </a>

            <ul class="dropdown-menu">
                <li>
                    <a href="~/Admin/Order/Index">
                        <i class="fa fa-fw fa-shopping-cart"></i> Orders
                        @if (@AppCount.GetUnpaidOrderCount() > 0)
                        {
                            <small class="badge pull-right" style="background-color: #fc3; color: #000;"> @AppCount.GetUnpaidOrderCount() </small>
                        }
                    </a>
                </li>

                <li>
                    <a href="~/Admin/Product/Index">
                        <i class="fa fa-fw fa-tags"></i> Re-Order
                        @if (@AppCount.GetProductsReOrderCount() > 0)
                        {
                            <small class="badge pull-right" style="background-color: #fc3; color: #000;"> @AppCount.GetProductsReOrderCount() </small>
                        }
                    </a>
                </li>
                <li>
                    <a href="~/Admin/Message/Index">
                        <i class="fa fa-fw fa-envelope"></i> Inbox
                        @if (@AppCount.GetUnReadMessageCount() > 0)
                        {
                            <small class="badge pull-right" style="background-color: #fc3; color: #000;"> @AppCount.GetUnReadMessageCount() </small>
                        }
                    </a>
                </li>
                <li class="divider"></li>

                @using (Html.BeginForm("AdminLogOff", "Account", new { area = ""}, FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                }

                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div id="nav" class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li>
                <a href="~/Admin/Home/Index"><i class="fa fa-fw fa-dashboard"></i> &nbsp; Dashboard</a>
            </li>
            <li>
                <a href="~/Admin/Order/Index">
                    <i class="fa fa-fw fa-shopping-cart"></i> &nbsp; Orders
                    @if (@AppCount.GetUnpaidOrderCount() > 0)
                    {
                        <small class="badge pull-right" style="background-color: #fc3; color: #000;"> @AppCount.GetUnpaidOrderCount() </small>
                    }
                </a>
            </li>
            <li>
                <a href="~/Admin/Product/Index">
                    <i class="fa fa-fw fa-tags"></i>&nbsp; Products
                    @if (@AppCount.GetProductsReOrderCount() > 0)
                    {
                        <small class="badge pull-right" style="background-color: #fc3; color: #000;"> @AppCount.GetProductsReOrderCount() </small>
                    }
                </a>
            </li>

            <li>
                <a href="~/Admin/Client/Index"><i class="fa fa-users"></i> &nbsp; Clients </a>
            </li>

            <li>
                <a href="~/Admin/Search/Product"><i class="fa fa-fw fa-search"></i> &nbsp; Search </a>
            </li>

            <li>
                <a href="~/Account/AdminRegister"><i class="fa fa-fw fa-user-plus"></i> &nbsp; Create Admin User </a>
            </li>

            <li>
                <a href="~/Admin/Message/Index">
                    <i class="fa fa-envelope"></i>  &nbsp;  Messages
                    @if (@AppCount.GetUnReadMessageCount() > 0)
                    {
                        <small class="badge pull-right" style="background-color: #fc3; color: #000;"> @AppCount.GetUnReadMessageCount() </small>
                    }
                </a>
            </li>

        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>
